*,
::before,
::after {
  box-sizing: border-box;
  border: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
}

.sidebar {
  svg {
    display: block;
    text-align: center;
    flex-shrink: 0;
    width: 1.25rem; 
    height: 1.25rem; 
    color: #fff; 
    transition-property: color; 
    transition-duration: 0.75s;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  button {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  button,
  [role="button"] {
    cursor: pointer;
  }
}


  
.linetwo {
  top: 725px;
  left: 49%;
  transform: translateX(-50%);
  width: 770px;
  height: 1px;
  position: absolute;
  background-color: black;
  border-width: 1px;
  border-style: solid;
}


  .sub{
    gap: 40rem;
    display: flex;
    flex-wrap: 80%;
  }

  .sub button {
    background-color: #4c6baf; 
    color: white;
    padding: 3px 35px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }