<!DOCTYPE html>
<html>
<head>
  <title>Archived</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/archived.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
</head>
<body>
  <div class="sidebar">   
    {% include 'sidebar.html' %}
  </div>
  <div class="p-4 sm:ml-64">
    <div class="p-4">
      <div class="flex items-start justify-left h-full mb-4 rounded bg-gray-100 p-6 flex-col">       
        <h1 class="text-3xl font-bold mb-1">IMAGES</h1>
        <h2>Archived Images</h2> 
      </div>
    </div>
  </div>
</body>
</html>
