<!DOCTYPE html>
<html>

<head>
  <title>Image Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  {% include 'sidebar.html' %}
  <div class="p-4 sm:ml-64">
    <div class="p-4">
      <div class="flex flex-col gap-x-1 items-left justify-between mb-4 h-48 rounded bg-gray-100 p-6">
        <h1 class="text-5xl font-bold">LSC Quality Inspector</h1>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('input_file.insert_inputFile') }}"
          class="flex justify-between">
          <input type="file" name="file" accept=".txt, .pdf, .png, .jpg, .jpeg, .gif">
          <input type="submit" value="Upload"
            class="w-24 py-2 text-white bg-green-400 cursor-pointer hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm">
        </form>
      </div>

      <div class="flex flex-col items-start justify-between h-72 mb-4 rounded bg-gray-100 p-6 relative">
        <h1 class="text-xl font-bold">Uploaded File</h1>
        {% if input_file %}
        <div class="flex items-start justify-left">
          <img src="{{ url_for('input_file.get_file', filename=input_file.name) }}" alt="Uploaded Image"
            class="h-full w-80 mr-6">

          <div class="grid grid-cols-2 gap-x-4">
            <p class="font-bold">Filename: </p>
            <p>{{ input_file.name }}</p>
            <p class="font-bold">Dimensions: </p>
            <p>{{ input_file.dimensions }}</p>
            <p class="font-bold">Size: </p>
            <p>{{ input_file.size }}</p>
            <p class="font-bold">Extension: </p>
            <p>{{ input_file.extension }}</p>
          </div>
          <form method="POST" enctype="multipart/form-data" action="{{ url_for('input_file.insert_outputFile') }}"
            class="flex justify-between absolute mr-6 right-0">
            <input type="submit" value="Analyze"
              class="w-24 py-2.5 text-white bg-green-400 cursor-pointer hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm">
          </form>
        </div>
        {% else %}
        <div role="status" class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-center">
          <div class="flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
              <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                  <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
              </svg>
          </div>
          <div class="w-full">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[480px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[440px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[460px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"></div>
          </div>
          <span class="sr-only">Loading...</span>
        </div>
        {% endif %}
      </div>

      <div class="flex flex-col items-start justify-between h-72 mb-4 rounded bg-gray-100 p-6">
        <h1  class="text-xl font-bold">Output File</h1>
        {% if output_file %}
        <div class="flex">
          <img src="{{ url_for('output_file.get_file', filename=output_file.name, date=session['output_date']) }}" alt="Predicted Image"
          class="h-full w-80 mr-6">     
          <div class="flex gap-x-4 w-min">
            <div>
              <p class="font-bold">Classification: </p>
              <p class="font-bold">Accuracy: </p>
              <p class="font-bold">Error Rate: </p>
              <p class="font-bold">Path: </p>
            </div>
            <div>
              <p class="{{ 'text-green-500' if output_file.classification == 'Good' else 'text-red-500' }}">{{ output_file.classification }}</p>
              <p>{{ output_file.accuracy }}</p>
              <p>{{ output_file.error_rate }}</p>
              <p>src{{ url_for('output_file.get_file', filename=output_file.name, date=session['output_date']) }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div role="status" class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-center">
          <div class="flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
              <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                  <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
              </svg>
          </div>
          <div class="w-full">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[480px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[440px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[460px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"></div>
          </div>
          <span class="sr-only">Loading...</span>
        </div>
        {% endif %}
      </div>
      
    </div>
  </div>
</body>

</html>