<!DOCTYPE html>
<html>

<head>
  <title>Image Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  {% include 'sidebar.html' %}
  <div class="p-4 sm:ml-64">
    <div class="p-4">
      <div class="flex flex-col gap-x-1 items-left justify-between mb-4 h-48 rounded bg-gray-100 p-6">
        <h1 class="text-5xl font-bold">LSC Quality Inspector</h1>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('input_file.upload') }}"
          class="flex justify-between">
          <input type="file" name="file" accept=".txt, .pdf, .png, .jpg, .jpeg, .gif">
          <input type="submit" value="Upload"
            class="w-24 py-2 text-white bg-green-400 cursor-pointer hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm">
        </form>
      </div>

      {% if input_file %}
      <div class="flex items-start justify-left h-72 mb-4 rounded bg-gray-100 p-6">
        <img src="{{ url_for('input_file.get_from_local', filename=input_file.filename) }}" alt="Uploaded Image"
          class="h-full w-80 mr-6">

        <div class="grid grid-cols-2 gap-x-4">
          <p class="font-bold">Filename: </p>
          <p>{{ input_file.filename }}</p>
          <p class="font-bold">Dimensions: </p>
          <p>{{ input_file.dimensions }}</p>
          <p class="font-bold">Size: </p>
          <p>{{ input_file.size }}</p>
          <p class="font-bold">Extension: </p>
          <p>{{ input_file.extension }}</p>
        </div>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('input_file.analyze') }}"
          class="flex justify-between">
          <input type="submit" value="Analyze"
            class="w-24 py-2 text-white bg-green-400 cursor-pointer hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm">
        </form>
      </div>
      {% endif %}

      {% if output_file %}
      <div class="flex items-start justify-left h-72 mb-4 rounded bg-gray-100 p-6">
        <img src="{{ url_for('output_file.get_from_local', filename=output_file.filename) }}" alt="Predicted Image"
        class="h-full w-80 mr-6">     
        <div class="grid grid-cols-2 gap-x-4 w-min">
          <p class="font-bold">Classification: </p>
          <p>{{ output_file.classification }}</p>
          <p class="font-bold">Accuracy: </p>
          <p>{{ output_file.accuracy }}</p>
          <p class="font-bold">Error Rate: </p>
          <p>{{ output_file.error_rate }}</p>
          <p class="font-bold">Path: </p>
          <p>{{ output_file.path }}</p>
        </div>
      </div>
      {% endif %}

      <div class="flex items-center justify-center h-72 mb-4 rounded bg-gray-100">

      </div>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="flex items-center justify-center rounded bg-gray-100 h-28">

        </div>
        <div class="flex items-center justify-center rounded bg-gray-100 h-28">

        </div>
      </div>
    </div>
  </div>
</body>

</html>